*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    background-image: url(./images/backimg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    font-family: sans-serif;
}
h1{
    padding: 20px 0px 20px 0px;
    color: red;
}
form > label{
    color: blue;
}
.btn{
   background-color:blueviolet;
   color: white;
   cursor: pointer;
   border: 2px solid purple;
    
}
.btn:hover{
    background-color:crimson;
}
.mainresult{
    color: black;
    padding: 30px 0px;
    
}